body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  gap: 15px;
}

.card{
    width: 300px;
    height: auto;
    border: 1px solid white;
    background-color: white;
    float: left;
    border-radius: 0.70em;
    box-shadow: 12px 18px 25px rgb(7, 104, 159, 0.1);
}
.card .gambar img{
    width: 129%;
    height: auto;
    border-radius: 0.70em;
}

.judul{
    text-align: left;
    padding-left: 8px;
    height: 160px;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

.judul #penyelenggara{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.judul img{
    width: 30%;
}
span.rating{
    font-size: medium;
}
span.harga{
    color: blue;
    font-size: larger;
}